HrEmpSDO/src/model/common/serviceinterface/HrEmployeeSDOService.wsdl

<wsdl:definitions
     name="HrEmployeeSDOService"
     targetNamespace="/model/common/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="/model/common/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="/model/common/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/model/common/types/" schemaLocation="HrEmployeeSDOService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="HrEmployeeSDOService_getEmployeesView1">
        <wsdl:part name="parameters" element="types:getEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_getEmployeesView1Response">
        <wsdl:part name="parameters" element="types:getEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_createEmployeesView1">
        <wsdl:part name="parameters" element="types:createEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_createEmployeesView1Response">
        <wsdl:part name="parameters" element="types:createEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_updateEmployeesView1">
        <wsdl:part name="parameters" element="types:updateEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_updateEmployeesView1Response">
        <wsdl:part name="parameters" element="types:updateEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_deleteEmployeesView1">
        <wsdl:part name="parameters" element="types:deleteEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_deleteEmployeesView1Response">
        <wsdl:part name="parameters" element="types:deleteEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_mergeEmployeesView1">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_mergeEmployeesView1Response">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_findEmployeesView1">
        <wsdl:part name="parameters" element="types:findEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_findEmployeesView1Response">
        <wsdl:part name="parameters" element="types:findEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_processEmployeesView1">
        <wsdl:part name="parameters" element="types:processEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_processEmployeesView1Response">
        <wsdl:part name="parameters" element="types:processEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_processCSEmployeesView1">
        <wsdl:part name="parameters" element="types:processCSEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_processCSEmployeesView1Response">
        <wsdl:part name="parameters" element="types:processCSEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_findEmployeesView1IamManager">
        <wsdl:part name="parameters" element="types:findEmployeesView1IamManager"/>
    </wsdl:message>
    <wsdl:message name="HrEmployeeSDOService_findEmployeesView1IamManagerResponse">
        <wsdl:part name="parameters" element="types:findEmployeesView1IamManagerResponse"/>
    </wsdl:message>
    <wsdl:portType name="HrEmployeeSDOService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="EmployeesView1" SDOName="tns:EmployeesViewSDO"
                 CreateOpName="createEmployeesView1" UpdateOpName="updateEmployeesView1" DeleteOpName="deleteEmployeesView1"
                 MergeOpName="mergeEmployeesView1" GetOpName="getEmployeesView1" FindOpName="findEmployeesView1"
                 ProcessOpName="processEmployeesView1" ProcessCSOpName="processCSEmployeesView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_getEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_getEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_createEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_createEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_updateEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_updateEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_deleteEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_deleteEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_mergeEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_mergeEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_findEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_findEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_processEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_processEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSEmployeesView1">
            <wsdl:input message="tns:HrEmployeeSDOService_processCSEmployeesView1"/>
            <wsdl:output message="tns:HrEmployeeSDOService_processCSEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1IamManager">
            <wsdl:input message="tns:HrEmployeeSDOService_findEmployeesView1IamManager"/>
            <wsdl:output message="tns:HrEmployeeSDOService_findEmployeesView1IamManagerResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HrEmployeeSDOServiceSoapHttp" type="tns:HrEmployeeSDOService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployeesView1">
            <soap:operation soapAction="/model/common/getEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <soap:operation soapAction="/model/common/createEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <soap:operation soapAction="/model/common/updateEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployeesView1">
            <soap:operation soapAction="/model/common/deleteEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <soap:operation soapAction="/model/common/mergeEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <soap:operation soapAction="/model/common/findEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processEmployeesView1">
            <soap:operation soapAction="/model/common/processEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSEmployeesView1">
            <soap:operation soapAction="/model/common/processCSEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1IamManager">
            <soap:operation soapAction="/model/common/findEmployeesView1IamManager"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HrEmployeeSDOService">
        <wsdl:port name="HrEmployeeSDOServiceSoapHttpPort" binding="tns:HrEmployeeSDOServiceSoapHttp">
            <soap:address location="http://stuart-pc:7101/HrEmployeeSDO/HrEmployeeSDOService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
